/* public/css/forms.css */
*{
    font-family: Inter, sans-serif;
}
.page-header {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border);
}
.page-header h1 {
    font-size: 1.875rem;
    color: var(--color-text-strong);
    font-weight: 700;
    margin: 0;
    /* margin-left: 10px; */
}
.page-header p {
    font-size: 1rem;
    color: var(--color-text-subtle);
    margin-top: 4px;
    /* margin-left: 10px; */
    margin-bottom: 0;
}

.form-container {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-section {
    background-color: var(--color-bg-content);
    padding: 25px 30px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    border: 1px solid var(--color-border);
    margin-bottom: 30px;
}

.form-section h2 {
    font-size: 1.25rem;
    color: var(--color-text-strong);
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-border);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}
.form-group{
    margin-bottom: 15px;
    width: 98%;
}
.form-group.full-width {
    grid-column: 1 / -1;
}

.form-group label {
    display: block;
    font-weight: 500;
    color: var(--color-text-base);
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="number"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-sm);
    font-size: 1rem;
    font-family: var(--font-family-main);
    color: var(--color-text-strong);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    background-color: var(--color-bg-page);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--color-primary-light);
}

.form-group textarea {
    min-height: 120px;
    resize: vertical;
}

.form-submit-button {
    background-color: var(--color-primary);
    color: var(--color-text-on-primary);
    border: none;
    margin-left: 7px;
    padding: 12px 28px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease;
}
.form-submit-button:hover { background-color: var(--color-primary-dark); color: var(--color-text-on-primary);}

.checkbox-group {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-bg-page);
}
.checkbox-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    height: 1.2em;
    width: 1.2em;
}
.checkbox-group label {
    margin-bottom: 0;
    font-weight: normal;
}

.dynamic-entry {
    border: 1px solid var(--color-border);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: var(--border-radius);
    background-color: var(--color-bg-page);
    position: relative;
}
.remove-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    color: var(--color-text-subtle);
    border: 1px solid var(--color-border);
    padding: 4px 10px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: 0.8em;
    transition: all 0.2s ease;
}
.remove-btn:hover {
    background-color: #fee2e2;
    color: #ef4444;
    border-color: #ef4444;
}
.add-btn {
    background-color: var(--color-bg-content);
    color: var(--color-primary);
    border: 1px solid var(--color-border);
    padding: 8px 15px;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 500;
    transition: all 0.2s ease;
}
.add-btn:hover {
    border-color: var(--color-primary);
    color: var(--color-primary-dark);
}

.error-messages {
    border: 1px solid #fca5a5;
    background-color: #fee2e2;
    color: #991b1b;
    padding: 15px;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}
.error-messages ul { margin: 0; padding-left: 20px; }

/* --- Select2 Overrides --- */
.select2-container { width: 100% !important; }

/* Multi-Select Structure */
.select2-container--default .select2-selection--multiple {
    background-color: var(--color-bg-page) !important;
    border: 1px solid var(--color-border) !important;
    border-radius: var(--border-radius-sm) !important;
    cursor: text;
    padding: 8px !important;
    min-height: 80px;
    height: auto !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 0 !important;
    margin: 0 !important;
    order: 2;
}
.select2-container--default .select2-search--inline {
    order: 1;
    width: 100%;
    padding: 0 !important;
    height: 32px;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
    margin: 0 !important;
    padding: 0px 2px !important;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: var(--font-family-main);
    height: 26px;
}
.select2-container--default .select2-search--inline .select2-search__field:focus {
    outline: none;
}


/* Style for each selected item  */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--color-primary-light) !important;
    color: var(--color-primary) !important;
    font-size: 0.75rem !important;
    padding: 4px 10px !important;
    border-radius: 999px !important;
    margin: 0 !important;
    font-weight: 500;
    border: none !important;
    cursor: pointer;
    position: relative; 
    transition: background-color 0.2s ease;
}
/* Hover effect on the tag to indicate removal */
.select2-container--default .select2-selection--multiple .select2-selection__choice:hover {
    background-color: #fee2e2 !important; /* Light Red */
    color: #ef4444 !important; /* Red */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    opacity: 0 !important; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1px; 
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: transparent !important;
    z-index: 1;
}

/* Dropdown styles */
.select2-dropdown {
    border: 1px solid var(--color-border) !important;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--shadow) !important;
}
.select2-results__option--highlighted {
    background-color: var(--color-primary) !important;
    color: white !important;
}

/* Focus state for the main selection box */
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single {
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 0 3px var(--color-primary-light) !important;
}

/* Single Select Styles  */
.select2-container--default .select2-selection--single {
    background-color: var(--color-bg-page) !important;
    border: 1px solid var(--color-border) !important;
    border-radius: var(--border-radius-sm) !important;
    height: 45px !important;

}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--text-color-strong) !important;
    line-height: 43px !important;
    padding-left: 12px !important;

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 43px !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none !important;
}