@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-bg-page: #F1F6F9;        
    --color-bg-content: #FFFFFF;      

    --color-primary-dark: #14274E;    
    --color-primary-medium: #394867;  
    --color-accent-interactive: #538fe9; 
    --red-accent : #F05454;
    --color-accent-action: #54a7f0;  
    /* #54a7f0 */
    /* Sidebar specific (Light theme like BankDash) */
    --color-sidebar-bg: #FFFFFF;
    --color-sidebar-text: var(--color-primary-medium); 
    --color-sidebar-icon: #7889A3; 
    --color-sidebar-text-hover: var(--color-accent-interactive);
    --color-sidebar-active-text: var(--color-accent-interactive); 
    --color-sidebar-active-indicator: var(--color-accent-interactive);
    --color-sidebar-border: #EAF0F6; 

    /* Navbar specific */
    --color-navbar-bg: #FFFFFF;
    --color-navbar-border: #EAF0F6;

    /* General UI */
    --text-color-on-action: #FFFFFF;
    --text-color-subtle: #869ab0;
    --text-color-link-hover: var(--color-accent-action); 

    --border-color: var(--color-sidebar-border); 
    --border-radius-sm: 6px;
    --border-radius-md: 10px;

    --font-family-main: 'Inter', sans-serif;

    --applied:rgb(191, 207, 220);
    --navbar-height: 65px;
    --sidebar-width: 270px; 

    --shadow-sm: 0 2px 5px rgba(20, 39, 78, 0.05);
    --shadow-md: 0 5px 15px rgba(20, 39, 78, 0.07);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "nav header"
        "nav main"
        "nav main";
    grid-template-columns: 250px 1fr; 
    grid-template-rows: 100px 1fr;
    min-height: 100vh; 
    gap: 10px; 
}

nav {
    grid-area: nav;
    background-color: #f0f0f0;
    padding: 15px;
}

header {
    grid-area: header;
    background-color: #e0e0e0;
    padding: 15px;
}

main {
    grid-area: main;
    background-color: #d0d0d0;
    padding: 15px;
}